/* App.css */

.App {
  text-align: center;
  background: rgb(39, 36, 36);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}
.App::-webkit-scrollbar {
  visibility: hidden;
  
  width: 0px;
}

.App-header {
  background: rgb(6, 5, 5);
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: 99%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: padding 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header.scrolled {
  padding: 5px 20px;
}

.App-header h1 {
  margin: 0;
  cursor: pointer;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
  font-weight: bolder;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #61dafb;
}

section#projects {
  margin: 20px auto 20px;
  padding: 20px;
  max-width: 60%;
}

section h2 {
  padding-top: 20px;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

#contact {
  background: rgb(6, 5, 5);;
  color: white;
  margin-bottom: -50px;
  height: 800px;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  visibility: hidden;
  width: 100%;
  padding: 0px;
}

section#about {
  max-width: 70%;
  margin: auto;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: rgb(103, 101, 101);
  flex-direction: row; /* Places the image on the left */
}

.about-text {
  flex: 1;
  padding-left: 20px; /* Changed to padding-left to match new layout */
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 50%; /* Adjusted to ensure image fits container */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

