/* App.css */

.App {
  text-align: center;
  background: rgb(39, 36, 36);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}
.App::-webkit-scrollbar {
  visibility: hidden;
  
  width: 0px;
}

.App-header {
  background: rgb(6, 5, 5);
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: 99%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: padding 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header.scrolled {
  padding: 5px 20px;
}

.App-header h1 {
  margin: 0;
  cursor: pointer;
}

.App-header h1:hover {
  color: #61dafb;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
  font-weight: bolder;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #61dafb;
}

section.not_completed {
  max-width: 70%;
  margin: auto;
  padding: 10px;
}

section h2 {
  padding-top: 20px;
}

#contact {
  background: rgb(6, 5, 5);;
  color: white;
  margin-bottom: -50px;
  height: 100px;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  visibility: hidden;
  width: 100%;
  padding: 0px;
}

#contact p {
  color:white;
}