section#about {
  max-width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background: rgb(103, 101, 101); */
}

.about-text {
  flex: 7;
  padding-left: 10px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #61dafb;
  font-weight: bolder;
  font-size: 1.5rem;
}

.about-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 25px;
}

.about-image {
  flex: 3;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p_name {
  font-size: 32px;
  font-weight: bolder;
  color: #61dafb;
}

.p_number {
  font-weight: bolder;
  color: #61dafb;
}