.contact-section {
  background-color: #333;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-section p {
  font-size: 1.2rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section p img {
  height: 30px;
  padding-right: 5px;
}

.contact-section a {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #f09a36;
  padding-right: 10px;
  padding-left: 10px;
}