.education-timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.education-timeline-item {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    margin: 10px 0;
}

.education-timeline-item.left {
    left: -20px;
    background-color: #f9f9f9;
}

.education-timeline-item.right {
    left: 20px;
    background-color: #e3f2fd;
}

.education-timeline-content {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education-timeline-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.education-timeline-content h4 {
    margin: 5px 0;
    font-weight: normal;
}

.education-timeline-content p {
    margin: 5px 0;
    color: #666;
}

.education-timeline-content ul {
    margin: 10px 0 0;
    padding-left: 20px;
}

.education-timeline-content li {
    margin: 5px 0;
    /* text-align: left; */
}

.education-timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #ccc;
    transform: translateX(-50%);
}
