.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.logo:hover {
  color: #f09a36;
  transition: color 0.3s ease;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.line.open {
  background-color: #f09a36;
}

.navbar-links {
  list-style: none;
  display: flex;
  transition: max-height 0.3s ease;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
  font-weight: bolder;
}

.navbar-links a:hover {
  color: #f09a36;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1002;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
  }
  

  .navbar-links {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1002;
  }

  .navbar-links.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .navbar-links li {
    text-align: center;
    margin: 15px 0;
  }

  .navbar-links a {
    font-size: 1.5rem;
    display: block;
    padding: 15px;
    width: 100%;
    color: white;
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust this value if necessary for positioning */
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1003;
    display: block; /* Ensure the close icon is displayed */
  }
}

@media (min-width: 768px) and (max-width: 1515px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1001;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
  }

  .navbar-links {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
    z-index: 999;
  }

  .navbar-links.active {
    width: 50%;
    opacity: 1;
    visibility: visible;
  }

  .navbar-links li {
    text-align: center;
    margin: 15px 0;
  }

  .navbar-links a {
    font-size: 1.5rem;
    display: block;
    padding: 15px;
    width: 100%;
    color: white;
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 130px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
  }
}
